.detailComponent {
  min-height: 100vh;

  .bread-crumb .stext-109 {
    font-size: 16px;
  }

  .product-information {
    ul {
      padding-left: 20px;
    }

    ul li {
      list-style-type: disc;
    }

    .cus-text {
      margin-right: 10px;
    }

    button.stext-101 {
      font-family: "Montserrat", sans-serif;
    }
  }

  .cus-mtext {
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    line-height: 1.6;
    &-36 {
      font-size: 36px;
    }
    &-15 {
      font-size: 15px;
      line-height: 2.8;
    }
    &-27 {
      font-size: 27px;
    }
  }

  .cus-stext {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    &-17 {
      font-size: 17px;
    }
  }

  .tab-content {
    ul {
      padding-left: 21px;
    }

    ul li {
      list-style-type: disc;
    }
  }

 .slick-next:before, .slick-prev:before { 
   color: #000 !important;
 }

  .tab01 .nav-link {
    font-size: 20px;
  }
}
