<div class="container bg0 m-t-23 p-b-140 product" ngxUiLoaderBlurred [loaderId]="'loader-01'">
  <div class="flex-w flex-sb-m p-b-52" *ngIf="isShowFilterAndSearch">
    <div class="flex-w flex-l-m filter-tope-group m-tb-10">
      <button class="cus-stext-301 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
        [ngClass]="{'how-active1': currentActiveBtn === 0}" (click)="excuteFilter(); currentActiveBtn = 0;">
        Tất Cả
      </button>

      <button class="cus-stext-301 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
        [ngClass]="{'how-active1': currentActiveBtn === 1}"
        (click)="excuteFilter(ParamsForQuery.ForMen); currentActiveBtn = 1;">
        Cho Nam
      </button>

      <button class="cus-stext-301 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
        [ngClass]="{'how-active1': currentActiveBtn === 2}"
        (click)="excuteFilter(ParamsForQuery.ForWomen); currentActiveBtn = 2;">
        Cho Nữ
      </button>

      <button class="cus-stext-301 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
        [ngClass]="{'how-active1': currentActiveBtn === 3}"
        (click)="excuteFilter(ParamsForQuery.ForCouple); currentActiveBtn = 3;">
        Cặp Đôi
      </button>
    </div>

    <div class="flex-w flex-c-m m-tb-10">{{isEmptyFilterObject()}}
      <div class="flex-c-m cus-stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4" *ngIf="isEmptyFilterObject()">
        <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 fas fa-times"></i>
        Xóa Bộ Lọc
      </div>
      <div class="flex-c-m cus-stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
        <i class="icon-filter cl2 m-r-6 fs-15 trans-04 fas fa-filter"></i>
        <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 fas fa-times dis-none"></i>
        Filter
      </div>

      <div class="flex-c-m cus-stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
        <i class="icon-search cl2 m-r-6 fs-15 trans-04 fas fa-search"></i>
        <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 fas fa-times dis-none"></i>
        Search
      </div>
    </div>

    <div class="dis-none panel-search w-full p-t-10 p-b-15">
      <div class="bor8 dis-flex p-l-15">
        <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
          <i class="fas fa-search"></i>
        </button>

        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
      </div>
    </div>
    <div class="dis-none panel-filter w-full p-t-10">
      <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
        <div class="filter-col1 p-r-15 p-b-27">
          <div class="cus-mtext-102 cl2 p-b-15">
            Sắp Xếp Theo
          </div>

          <ul>
            <li class="p-b-6">
              <span class="filter-link cus-stext-106 trans-04"
                [ngClass]="{'filter-link-active': currentActiveShortByOther === 0}"
                (click)="excuteFilter(ParamsForQuery.Popular); currentActiveShortByOther = 0">
                Phổ Biến
              </span>
            </li>

            <li class="p-b-6">
              <span class="filter-link cus-stext-106 trans-04"
                [ngClass]="{'filter-link-active': currentActiveShortByOther === 1}"
                (click)="excuteFilter(ParamsForQuery.Newest); currentActiveShortByOther = 1">
                Mới Nhất
              </span>
            </li>

            <li class="p-b-6">
              <span class="filter-link cus-stext-106 trans-04"
                [ngClass]="{'filter-link-active': currentActiveShortByOther === 2}"
                (click)="excuteFilter(ParamsForQuery.Ascending); currentActiveShortByOther = 2">
                Giá: Thấp Đến Cao
              </span>
            </li>

            <li class="p-b-6">
              <span class="filter-link cus-stext-106 trans-04"
                [ngClass]="{'filter-link-active': currentActiveShortByOther === 3}"
                (click)="excuteFilter(ParamsForQuery.Descending); currentActiveShortByOther = 3">
                Giá: Cao Xuống Thấp
              </span>
            </li>
          </ul>
        </div>

        <div class="filter-col2 p-r-15 p-b-27">
          <div class="cus-mtext-102 cl2 p-b-15">
            Khoảng giá
          </div>

          <ul>
            <li class="p-b-6">
              <span class="filter-link cus-stext-106 trans-04 filter-link-active"
                [ngClass]="{'filter-link-active': currentActiveShortByPrice === 0}"
                (click)="priceRange = []; excuteFilter(ParamsForQuery.Price); currentActiveShortByPrice = 0;">
                Tất cả
              </span>
            </li>
            <li class="p-b-6">
              <span class="filter-link cus-stext-106 trans-04"
                [ngClass]="{'filter-link-active': currentActiveShortByPrice === 1}"
                (click)="priceRange = [0,3000000]; excuteFilter(ParamsForQuery.Price); currentActiveShortByPrice = 1;">
                0 - 3.000.000
              </span>
            </li>

            <li class="p-b-6">
              <span class="filter-link cus-stext-106 trans-04"
                [ngClass]="{'filter-link-active': currentActiveShortByPrice === 2}"
                (click)="priceRange = [3000000,5000000]; excuteFilter(ParamsForQuery.Price); currentActiveShortByPrice = 2;">
                3.000.000 - 5.000.000
              </span>
            </li>

            <li class="p-b-6">
              <span class="filter-link cus-stext-106 trans-04"
                [ngClass]="{'filter-link-active': currentActiveShortByPrice === 3}"
                (click)="priceRange = [5000000,10000000]; excuteFilter(ParamsForQuery.Price); currentActiveShortByPrice = 3;">
                5.000.000 - 10.000.000
              </span>
            </li>

            <li class="p-b-6">
              <span class="filter-link cus-stext-106 trans-04"
                [ngClass]="{'filter-link-active': currentActiveShortByPrice === 4}"
                (click)="priceRange = [10000000,0]; excuteFilter(ParamsForQuery.Price); currentActiveShortByPrice = 4;">
                10.000.000+
              </span>
            </li>
          </ul>
        </div>

        <div class="filter-col3 p-r-15 p-b-27">
          <div class="cus-mtext-102 cl2 p-b-15">
            Màu Sắc
          </div>

          <ul>
            <li class="p-b-6">
              <span class="fs-15 lh-12 m-r-6" style="color: #222;">
                <i class="fas fa-circle"></i>
              </span>

              <span class="filter-link cus-stext-106 trans-04"
                (click)="setColourRange('Black'); excuteFilter(ParamsForQuery.Colour)">
                Black
              </span>
            </li>

            <li class="p-b-6">
              <span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
                <i class="fas fa-circle"></i>
              </span>

              <span class="filter-link cus-stext-106 trans-04 filter-link-active"
                (click)="setColourRange('Blue'); excuteFilter(ParamsForQuery.Colour)">
                Blue
              </span>
            </li>

            <li class="p-b-6">
              <span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
                <i class="fas fa-circle"></i>
              </span>

              <span class="filter-link cus-stext-106 trans-04"
                (click)="setColourRange('Grey'); excuteFilter(ParamsForQuery.Colour)">
                Grey
              </span>
            </li>

            <li class="p-b-6">
              <span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
                <i class="fas fa-circle"></i>
              </span>

              <span class="filter-link cus-stext-106 trans-04"
                (click)="setColourRange('Green'); excuteFilter(ParamsForQuery.Colour)">
                Green
              </span>
            </li>

            <li class="p-b-6">
              <span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
                <i class="fas fa-circle"></i>
              </span>

              <span class="filter-link cus-stext-106 trans-04"
                (click)="setColourRange('Red'); excuteFilter(ParamsForQuery.Colour)">
                Red
              </span>
            </li>

            <li class="p-b-6">
              <span class="fs-15 lh-12 m-r-6" style="color: #fff;">
                <i class="fas fa-circle"></i>
              </span>

              <span class="filter-link cus-stext-106 trans-04"
                (click)="setColourRange('White'); excuteFilter(ParamsForQuery.Colour)">
                White
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <app-search></app-search>
        <app-filter></app-filter> -->
  </div>
  <div class="row isotope-grid">
    <div *ngFor="let product of products" class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <a [routerLink]="[ '/product', product._id ]">
            <img [src]="product.img" alt="IMG-PRODUCT">
          </a>
          <span class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Xem Nhanh
          </span>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l ">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              {{product?.name}}
            </a>

            <span class="stext-105 cl3">
              {{product?.price | number}} <span>&#8363;</span>
            </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <!-- <a class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                            <img class="icon-heart1 dis-block trans-04" src="../../../../assets/img/icons/icon-heart-01.png" alt="ICON">
                            <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png"
                                alt="ICON">
                        </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>
</div>
